/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
.about_text {
  @apply text-[hsl(228,15%,50%)]  text-base mx-auto my-8;
}
.btn_center {
  @apply flex flex-col justify-center items-center;
}

.button {
  @apply bg-[color:var(--first-color)] text-white text-[0.7rem] font-medium cursor-pointer transition-[0.3s] px-[0.6rem] py-[0.4rem] rounded-[5px];
}

.download_button {
  @apply bg-[coral] self-center text-center mx-auto my-4 px-8 py-2;
}
input,
button {
  @apply border-[none];
  outline: none;
  font-family: var(--body-font);
}
.heading1{
  
    @apply text-[hsl(228,57%,28%)] font-semibold text-4xl bg-white ;
  
}
